/*--------------------------*/
/*-----SMARTPHONES-------- */
/*------------------------*/

body {
	margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

#section1, #accommodation, #popular, #activities, footer div {
    margin-left: 20px;
}

header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

#menu , #menu ul {
    padding: 0;
    margin:0;
}

.menu-item {
	min-width: 185px;
    text-align: center;
}

.menu-item a:hover, .menu-item a:active {
    border-top: solid 2px #fff;
	border-bottom: solid 2px #0065FC;
	color : #0065FC;
}

#form {
	margin-top:36px;
    margin-left: auto;
    margin-right: auto;
}

#search-mobile {
	display: block;
}

.form-button {
    display: none;
}

#filter {
	flex-wrap: wrap;
    padding-left: 0px;
    max-width: 767px;
}

#filter h3 {
	width: 100%;
}

#filter button {
    margin-right:5px;
    width:160px;
    font-size: 11px;
}

#filter button i {
    padding : 15px 5px 15px 6px;
    font-size: large;
}

#section2 {
	flex-direction: column-reverse;
	justify-content: flex-end;
}

#activities-cards {
	flex-wrap: wrap;
}

