html {
	font-family: 'Raleway', sans-serif;
}

body {
	box-sizing: border-box;
	background-color: white;
	height: 100%;
	margin: 0px 50px 7px 50px;
	width :1440px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

header, #section1 {
	padding-left: 5px;
}

a {
	text-decoration: none!important;
}

#menu ul {
	margin-top: 0px;
}

.menu-item {
	display: inline-block;
}

.menu-item a {
	display: block;
	padding: 46px 25px 0 25px;
	border-top: solid 2px #fff;
}

.menu-item a, .information {
	font-size: 16px;
	font-weight: 400;
	color : #000;
}

.menu-item a:hover {
	border-top: solid 2px #0065FC;
	color : #0065FC;
  }



#form {
	display: flex;
}

#filter {
	display: flex;
	padding-left: 7px;
}

#info {
	display: flex;
	padding-left: 4px;
}

