/*--------------------------*/
/*-----SMARTPHONES-------- */
/*------------------------*/

body {
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 767px;
}

/* -----------------------*/
/*    Section elements   */
header, #section1, #section2, #section3 {
	margin-right: 0px;
	margin-left: 0px;
}

header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 45px;
    padding-left: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
/* ---------------------*/


/* -----------------------*/
/*       Header          */
#headerLogo {
	text-align: center;
}

#menu {
    width:100%;
    display: inline-block;
}

#menu ul {
    padding: 0;
    margin: 0;
}

.menu-item {
	width: 49%;
    text-align: center;
}

.menu-item a{
    border-bottom: solid 2px #F2F2F2;
    text-align: center;
    padding: 25px 0px;
}

.menu-item a:hover, .menu-item a:active {
    border-top: solid 2px #fff;
	border-bottom: solid 2px #0065FC;
	color : #0065FC;
}


/* -----------------------*/
/*      Section1         */
#section1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*      Form         */
#form {
	margin-top:36px;
}

.form-input {
    width: 230px;
}

#search-mobile {
	display: block;
}

.form-button {
    display: none;
}

/*      Filter         */
#filter {
	flex-wrap: wrap;
    justify-content: left;
    padding-left: 0px;
    gap: unset;
}

#filter h3 {
	width: 100%;
}

#filter button {
    margin-right:auto;
    margin-left:auto;
    width: 46%;
    font-size: 11px;
    white-space: nowrap;
}

#filter button i {
    padding : 15px 7% 15px 7%;
    font-size: large;
}
/* ---------------------*/


/* -----------------------*/
/*      Section2         */
#section2 {
	flex-direction: column-reverse;
	justify-content: flex-end;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    gap: unset;
}

/*     Accommodation      */
#accommodation {
	width: calc(100% - 40px);
    margin-right: 0px;
    background: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

#accommodation > a {
    display:none;
}

.accommodation-cards {
	display: flex;
	flex-direction: column;
    align-items: center;
    gap:12px;
    width: calc(100% - 10px);
}

.accommodation-card {
	width: 100%;
    margin-bottom:0px;
}

/*     Popular       */
#popular {
    margin-top: 26px;
    margin-bottom: 26px;
	width: calc(100% - 40px);
    min-height: 580px;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    max-width:767px;
}

#popular-title {
    padding-bottom: 26px;
    padding-top: 28px;
}

.popular-card-image {
	width:38%;
	height:100%;
	min-width:34vw;
}

.popular-card img {
	max-width: 100%;
}

.popular-card {
    margin-bottom: 10px;
}
/* ---------------------*/


/* -----------------------*/
/*      Section 3         */
#section3 {
    margin-top:105px;
    margin-bottom: 50px;
}

#activities {
    padding-left: 20px;
    padding-right: 20px;
}

#activities-cards {
	flex-direction: column;
    align-items: center;
}

.activities-card {
	max-height: 190px;
	width: calc(100% - 10px);
}

#activities-cards {
	gap:24px;
}

.activities-card img {
	height : 134px;
	width : 100%;
	object-fit: cover;
}

/* -----------------------*/


/* -----------------------*/
/*       Footer          */
footer div {
    margin-bottom: 40px;
}

/* ---------END-----------*/