html {
	font-family: 'Raleway', sans-serif;
}

body {
	box-sizing: border-box;
	background-color: white;
	height: 100%;
	margin: 0px 50px 7px 50px;
	max-width :1400px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

header, #section1 {
	padding-left: 5px;
}

a {
	text-decoration: none!important;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color : #F2F2F2;
	padding: 45px 25% 60px 70px;
}

h1 {
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	color : #000;
	margin-top: 53px;
	margin-bottom: 8px;
}

h2 {
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	color : #000;
}

h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	color : #000;
	margin:0;
}

h4 {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	color : #000;
	margin:0;
}

.card-price {
	font-size: 14px;
	font-weight: 400;
	color : #000;
	padding-top :6px;
	padding-bottom: 6px;
}

i {
	color:#0065FC;
}

.fa-location-dot {
	font-size: 18px;
	background-color: #F2F2F2;
	color : #000!important;
	padding: 16px 18px 15px 18px;
	border: 1px solid #F2F2F2;
	border-radius: 15px 0 0 15px;
}

.fa-money-bill-wave, .fa-heart, .fa-dog, .fa-child-reaching {
	font-size :20px;
}

.fa-magnifying-glass {
	background-color: #0065FC;
	border: 1px solid #0065FC;
	border-radius: 0px 15px 15px 0px;
	padding: 16px;
	color:#fff!important;
}

.fa-info {
	border: solid 2px #D9D9D9;
	border-radius: 100%;
	padding: 7px 10px 7px 10px;
	font-size: 9px;
}

.fa-chart-line {
	font-size :18px;
}

.fa-star {
	font-size: 12px;
}

.fa-star--gray {
	color: #F2F2F2;
}

#menu ul {
	margin-top: 0px;
}

.menu-item {
	display: inline-block;
}

.menu-item a {
	display: block;
	padding: 46px 25px 0 25px;
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
}

.menu-item a, .information {
	font-size: 16px;
	font-weight: 400;
	color : #000;
}

.menu-item a:hover, .menu-item a:active{
	border-top: solid 2px #0065FC;
	color : #0065FC;
}

#section1 {
	margin-bottom : 40px;
}

#form {
	display: flex;
	margin-top:20px;
}

.form-input, .form-button {
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
}

.form-input {
	color : #000;
	padding: 14px 16px 14px 16px;
	border: 1px solid #F2F2F2;
}

.form-button {
	color: #fff;
	background: #0065FC;
	border: 1px solid #0065FC;
	border-radius: 0px 15px 15px 0px;
	padding : 14px 16px 14px 16px;
}

#search-mobile {
	display: none;
}

#filter {
	max-width: 914px;
	width:auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 7px;
	padding-top: 30px;
}

#filter button {
	background-color: #fff;
	display: flex;
	align-items: center;
	border: 2px solid #D9D9D9;
	border-radius: 25px;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	font-family: 'Raleway', sans-serif;
	padding-right : 20px;
	margin-bottom: 17px;
}

#filter h3 {
    margin-bottom: 17px;
}

#filter button:hover {
	background: #DEEBFF;
}

#filter button i {
	padding : 14px 10px 14px 20px;
}

#info {
	display: flex;
	align-items: center;
	padding-left: 4px;
	margin-top: 23px;
}

#info div {
	padding-left: 11px;
}

#section2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom : 60px;
}

#accommodation {
	background: #F2F2F2;
	border-radius: 20px;
	width: 65%;
	max-width : 800px;
	height:100%;
	padding-left: 40px;
	padding-right: 40px;
	margin-right: 40px;
}

#accommodation h2 {
	padding-top: 42px;
	padding-bottom: 23px;
	margin: 0;
}

#accommodation h3 {
	padding-top: 10px;
	padding-bottom: 45px;
}

.accommodation-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.accommodation-card {
	height: 199px;
	width: 246px;
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	border-radius: 20px;
	margin-bottom: 30px;
	box-shadow: 0px 10px 20px #D9D9D9;
}

.accommodation-card img {
	height : 114px;
	width : 96%;
	object-fit: cover;
	border: 5px solid #FFFFFF;
	border-radius: 20px 20px 0px 0px;
}

.accommodation-card-name {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left : 16px;
}

.accommodation-card-star {
	padding-bottom:11px;
}

#popular {
	background: #F2F2F2;
	border-radius: 20px;
	width: 26%;
	max-width : 420px;
	min-height: 625px;
	padding-left: 37px;
	padding-right : 42px;
	display :flex;
	flex-direction: column;
}

#popular-title {
	display :flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom : 26px;
	padding-top : 41px;
}

.popular-cards {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.popular-card {
	max-height: 144px;
	height:100%;
	max-width: 343px;
	width: 100%;
	background: #FFFFFF;
	border-radius: 20px;
	box-shadow: 0px 10px 20px #D9D9D9;
	overflow: auto;
	margin-bottom: 33px;
}

.popular-card a {
	display: flex;
	flex-direction: row;
}

.popular-card img {
	height: 134px;
	max-width: 137px;
	width:96%;
	object-fit: cover;
	border: 5px solid #FFFFFF;
	border-radius: 20px 0px 0px 20px;
}

#popular-title h2 {
	margin:0;
	/*font-size:1.57vw!important;*/
}

.popular-card-name {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding : 16px 22px 12px 15px;
}

#section3 {
	margin-bottom : 60px;
}

#activities-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.activities-card {
	height: 445px;
	width: 302px;
	border-radius: 20px;
	box-shadow: 0px 10px 20px #D9D9D9;
}

.activities-cardd a {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.activities-card img {
	height : 389px;
	width : 100%;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}

.activities-card h4 {
	background: #fff;
	line-height: 55px;
	padding-left: 20px;
	border-radius: 0px 0px 20px 20px;
}

footer ul {
	margin:0;
	padding:0;
}

footer h3 {
	padding-bottom: 20px;
}

footer ul li {
	display:block;
	padding-bottom: 12px;
}

footer ul li a {
	color: #000 !important;
	font-size: 16px;
	font-weight: 400;
}